body {
  padding: 2em 70px 2em 70px;
  margin: 0;
  font-family: sans-serif;
  color: black;
  background: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
:link { color: #00C; background: transparent }
:visited { color: #609; background: transparent }
a:active { color: #C00; background: transparent }

a:link img, a:visited img { border-style: none } 

a img { color: white; }        
@media all {                  
  a img { color: inherit; } 
}

th, td { /* ns 4 */
  font-family: sans-serif;
}
span.fttag {color:#b366ff;}

h1, h2, h3, h4, h5, h6 { text-align: left }
/* background should be transparent, but WebTV has a bug */
h1, h2, h3 { color: #005A9C; background: white }
h1 { font: 170% sans-serif }
h2 { font: 140% sans-serif }
h3 { font: 120% sans-serif }
h4 { font: bold 100% sans-serif }
h5 { font: italic 100% sans-serif }
h6 { font: small-caps 100% sans-serif }

.hide { display: none }

div.head { margin-bottom: 1em }
div.head h1 { margin-top: 2em; clear: both }
div.head table { margin-left: 2em; margin-top: 2em }


div.exampleInner { background-color: #d5dee3;
                   border-top-width: 4px;
                   border-top-style: double;
                   border-top-color: #d3d3d3;
                   border-bottom-width: 4px;
                   border-bottom-style: double;
                   border-bottom-color: #d3d3d3;
                   padding: 4px; margin: 0em }

p.copyright { font-size: small }
p.copyright small { font-size: small }

@media screen {  /* hide from IE3 */
a[href]:hover { background: #ffa }
}

pre { margin-left: 2em }

dt, dd { margin-top: 0; margin-bottom: 0 } 
dt { font-weight: bold }

ul.toc, ol.toc {
  list-style: disc;		
  list-style: none;
}

@media speech {
 h1, h2, h3 { voice-stress: moderate; }
 .hide { speak: none; }
 p.copyright { voice-volume: x-soft; voice-rate: x-fast; }
 dt { pause-before: 63ms; }
}
